
{% extends 'admin/base.html.twig' %}

{% form_theme form _self %}

{% block body %}

 {{ form_start(form) }}
   <div class="container">
      <h1 class="my-5">Edition du commentaire de  <strong>{{ comment.author.fullName }}</strong></h1>
      <div class="row">
         <div class="col-8 form-group">
            <div class="alert alert-primary">
                <h4 class="alert-heading">Informations sur le commentaire</h4>
                <p>Annonce liée : {{ comment.ad.title }}</p>
                <p>Autheur : {{ comment.author.fullName }}</p>
                <p>Date de création : {{ comment.createdAt | date('d/m/Y') }}</p>
                <p>Note donnée : {% include 'partials/rating.html.twig' with { 'rating' : comment.rating } %}</p>
            </div>
            <div class="form">
                {{ form_start(form) }}

                {{ form_widget(form) }}

                <button type="submit" class="btn btn-primary">    
                    <i class="fas fa-check"></i>
                    Modifier le commentaire
                </button>

                {{ form_end(form) }}
            </div>
         </div>
      </div>
   </div>
   {{ form_end(form) }}

{% endblock %}
